.Task {
    padding-left:2%;
  }
  .Task-intro {
    font-size: large;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  .inputField{
    margin-top:3%;
  }
  .errorLabel{
    color:red;
    margin-left: 2%;
  }
  
  .showNumbers{
    margin-top:2%;
  }