.footer{
    background-color:#1B1E1E;
    color:#4d4d4d;
}

.copyRight{
    max-width: 1024px;
    font-size: 12px;
    font-weight: bold;
    padding: 20px;
    text-align: left;
    margin: 0 auto;
}